.bordo{
    width: min-content;
}

.btn-drink{
    margin-top: 10px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.listIngredient{
    list-style: none;
    padding: 0px;
}